[2012-03-08 14:09] ADmad opened #2 "ValidFunctionNameSniff complains about controller action functions with prefixes"
Controller action names like admin_foo or foo_bar fail to pass the `ValidFunctionNameSniff`. Perhaps the rules should be tweaked to allow underscored function names in controllers atleast.

[2012-03-17 02:27] #2 closed, assigned to nobody

[2012-04-24 12:46] AD7six opened #4 "The DOC Comment must be not spaced"
This error message is hard to understand, does it only apply to indented doc blocks? if so we could change it to

[code]

If it applies to any /*\* comment, I'm not sure what error message to suggest - but needs one that's a bit easier to understand :)

[2012-04-25 04:25] rhelms opened #5 "Wrapping long strings"
On occasion there might be a long string, or a series of concatenations that pass well beyond the 80 character mark.

I'm not sure what the CakePHP standards are on long strings, but for readability, I like to limit the width at approx 80 characters wide.

Currently, the concatenation rule will complain about spaces after or before a concatenation, depending on where it has been placed.

i.e. Expe

[2012-04-25 08:46] #4 closed, assigned to nobody

[2012-04-28 15:32] #5 closed, assigned to nobody

[2012-08-27 16:47] TiuTalk opened #8 "Shouldn't title_for_layout be ignored from the "valid camel caps format" rule?"
`Variable "title_for_layout" is not in valid camel caps format`

[2012-08-27 17:52] #8 closed, assigned to nobody

[2012-10-07 15:40] GreeningsJob1 opened #10 "Cake2 - Advancement"
Hi There

Is there a stylechecker for CakePHP 2.x or is it the same as for CakePHP 1.x?

Thank you for the information

[2012-10-07 15:44] #10 closed, assigned to nobody

[2012-11-14 14:45] jrbasso opened #13 "Not catching some whitespaces"
See the commits cakephp/cakephp@8f78b1e and cakephp/cakephp@b7e75a6

These issues wasn't identified by the phpcs.

[2012-11-15 12:35] ceeram opened #14 "operator spacing"
Currently false errors are raised for: `$bar = isset($foo) ? -2 : 0;`

 1848 | ERROR | Expected 1 space after "-"; 0 found

Current tests also fail for this:

http://bin.cakephp.org/view/258564869 line 40

[2012-11-18 03:35] lucassimon opened #16 "bug 13 Protected Member variable "_schema" must not be prefixed with an underscore"
[code]

[2012-11-18 03:45] #16 closed, assigned to nobody

[2012-11-19 23:09] #14 closed, assigned to nobody

[2012-11-24 18:36] #13 closed, assigned to nobody

[2012-12-11 10:13] ceeram opened #21 "OperatorSpace sniff should ignore & when used as reference symbol"
69 | ERROR | Expected 1 space before "&" operator; 0 found
 69 | ERROR | Expected 1 space after "&" operator; 0 found
 are generated for: https://github.com/cakephp/cakephp/blob/3.0/lib/Cake/Test/TestCase/Console/Command/BakeShellTest.php#L69

[2012-12-11 11:15] ceeram opened #22 "blank line after namespace"
PSR1:
There MUST be one blank line after the namespace declaration, and there MUST be one blank line after the block of use declaration

There is no sniff currently for this

[2012-12-11 12:43] ceeram opened #23 "Alpabetical order of use"
currently this is the only accepted order as correct alphabetical:
use Cake\Routing\RouteCollection;
use Cake\Routing\Route\Route;
use Cake\Routing\Router;

which imo should be:
use Cake\Routing\Route\Route;
use Cake\Routing\RouteCollection;
use Cake\Routing\Router;

or:
use Cake\Routing\RouteCollection;
use Cake\Routing\Router;
use Cake\Routing\Route\Route;

depending on how you treat the backsla

[2012-12-11 14:21] leonelfreire opened #24 "Camel caps format and blank lines"
**Example**:

[code]

**Output**:

[code]
- **Error1**: The name `$__myVar` is valid, but not when used with `self::$__myVar` or `Test::$__myVar`.
- **Error2**: The message "Expected 1 blank" is OK, but "2 found"? Shouldn't be "0 found"?

[2012-12-12 01:58] #24 closed, assigned to nobody

[2012-12-12 10:58] #22 closed, assigned to nobody

[2013-01-18 17:34] bglase opened #27 "Ruleset excludes any files with 'git' in the path"
regex in ruleset.xml should change from excluding '.git' to excluding '\.git'

[2013-02-04 08:44] dereuromark opened #28 "`empty ()` (extra space)"
`empty ()` is not picked up by the CS. It should be `empty()` without the extra space.

See https://github.com/cakephp/cakephp/commit/05546aff3228087bcecf33a93456206d8d95c4d8

[2013-02-11 03:08] #27 closed, assigned to nobody

[2013-02-12 01:10] #28 closed, assigned to markstory

[2013-02-25 13:08] CauanCabral opened #29 "Enhancement for CakePHP 3.0"
Considering CakePHP 3.0 will use PHP 5.4+, some rules should be included, and others maybe removed.

To include:

* traits
* namespace conventions

To remove (maybe):

* underscore to indicate members visibility ( http://book.cakephp.org/2.0/en/contributing/cakephp-coding-conventions.html#member-visibility )

Before start coding of that's rules, I want discuss if it's appropriate.

[2013-03-12 15:01] dereuromark opened #30 "folder name should be CakePHP instead of Cake to avoid issues"
Locally, with windows I always get this fatal error:

"2013-03-12 15:49:46 Error: Cannot redeclare class CakePHP_Sniffs_Commenting_FunctionCommentThrowTagSniff in [E:...\Vendor\PHP\CodeSniffer\Standards\Cake\Sniffs\Commenting\FunctionCommentThrowTagSniff.php, line 271]"
Seems like the autoloader does include a little bit too much here.

After I searched for a solution and found https://github.com/

[2013-03-12 15:11] #30 closed, assigned to nobody

[2013-05-04 09:10] rikvdh opened #31 "Wrong placed Class brackets are not detected"
e.g.

[code]

and

[code]

are both valid. :)

[2013-05-09 01:08] #31 closed, assigned to nobody

[2013-05-09 20:35] Phally opened #34 "Failing tests"
There are several failing tests: http://bin.cakephp.org/view/1599780770

It's in the files with HTML and PHP's alternative syntax.

There was a rule about that syntax once: 90dcfedab0d2e6d4151b7fd7d18f7e8d5ccc1fdf

But as you can see it was removed, which makes sense for that use case. However, I think alternative syntax shouldn't be used within classes. So maybe add the rule again, but just for

[2013-05-12 00:46] #23 closed, assigned to markstory

[2013-05-12 03:20] #34 closed, assigned to nobody

[2013-05-17 08:37] dereuromark opened #37 "Whitespaces after comma not detected"
See https://github.com/cakephp/cakephp/pull/1285

[2013-08-08 09:01] #37 closed, assigned to nobody

[2013-08-12 16:44] dereuromark opened #46 "Enhancement: Return early and else blocks"
A sniff that could be useful for the core:
https://github.com/dereuromark/cakephp-codesniffer/blob/master/Vendor/PHP/CodeSniffer/Standards/MyCakePHP/Sniffs/ControlStructures/ReturnEarlySniff.php

Worked quite well with my app code and the recent redirect "return early" changes.
Not sure if its appropriate for the core, though. Especially as "error"...

[2013-12-08 10:31] jhannwong opened #56 "Wrong exclude pattern to ignore git internals"
Any reason we want `.git` in any absolute path to qualify for ignore?

The following means even `/User/memyself/Documents/cakephp.git/*` is ignored.

[code]

Proposed changed:

[code]

[2013-12-08 12:52] jhannwong opened #58 "Unit tests fail, a problem with input parameter `standard`"
Standard's `ruleset.xml` location is hardcoded in `PHP_CodeSniffer::getInstalledStandardPath()` (l 2010):

relative to `CodeSniffer.php`:

[code]

where `CakePHP` will be the standard's name.

If that folder is not there, the standard is considered _not_ installed. The entire test suite will then fail.

On the command-line, `phpcs` will be executed thus:

[code]

(_standard's name_ is case-insensi

[2013-12-08 13:54] #58 closed, assigned to nobody

[2013-12-08 14:08] jhannwong opened #59 "Unit Tests fail, a problem with input parameter 'standard'"
## `PHP/CodeSniffer/CLI::process()` expects array of strings

Standard parameter input is now:
- An array of strings.
- Each string must match a folder name in `<php_dir>/PHP/CodeSniffer/Standards`.

where `<php_dir>` is taken to be:

[code]
## `ruleset.xml` is not in correct place

Standard's `ruleset.xml` location is hardcoded in `PHP_CodeSniffer::getInstalledStandardPath()` (l 2010).

Specifica

[2013-12-08 15:19] #59 closed, assigned to nobody

[2013-12-16 10:20] davidsteinsland opened #60 "phpcs installed via composer - how to install cakephp?"
When `phpcs` is installed via composer, I have the binaries in `~/.composer/vendor/bin`. How can I install the CakePHP Codesniffer then? The `pear` package will install it into the autoload path in php, but wont it also install phpcs if this is not present?

[2013-12-30 13:16] #60 closed, assigned to nobody

[2014-02-11 13:00] tersmitten opened #67 "Nested elseif indention is marked as invalid"
The following test fails while it should pass.

`inline_elseif_pass.php`

[code]

[code]

[2014-02-11 13:18] #67 closed, assigned to nobody

[2014-03-25 19:31] ndm2 opened #69 "Type hint sniffer"
I've intially written this for my own projects, but after struggeling with some incompatible type hinting in Cake 3.x, I thought perhaps something like this could be useful for CakePHP too.

I've just made some quick and dirty changes in order to make it match the (assumed) CakePHP 3.x standards (mainly *doc-block type hints should be fully qualified*, *method type hints should be unqualified and

[2014-03-27 13:54] steinkel opened #70 "Confusing error message missing @throws is attached to the last docblock found"
This code:

[code]

Will produce this output

[code]

Attaching the `@throws` error to the last docblock found in code and producing an incorrect message...

Thank you!

[2014-04-06 18:48] justinyost opened #71 "Add a formal License/Copyright"
While the project is a public GitHub repo and presumebly has the same copyright as the [Cake core](https://github.com/cakephp/cakephp/blob/master/lib/Cake/LICENSE.txt), it would be great if there was a formal copyright/license applied so that the community has confidence in our usage of this CodeSniffer.

More information, if needed, on why even projects in the open should have some license applie

[2014-04-07 01:18] #71 closed, assigned to nobody

[2014-05-04 10:00] simkimsia opened #73 "update the README to include installation via composer instructions"
since there is a way to install for this codesniffer via composer, see https://github.com/cakephp/cakephp-codesniffer/pull/72

how about an update on the instructions on README?

[2014-05-05 01:03] #73 closed, assigned to markstory

[2014-05-05 01:43] markstory opened #74 "Fix installation issues with composer"
Currently when these code sniffs are installed with composer, they are unusable. Because the sniffs are installed into `vendor/cakephp/cakephp-codesniffer`, phpcs generates classnames like `cakephp-codesniffer_Sniffs_Commenting_FunctionCommentSniff` which clearly can never exist, resulting in fatal errors. I can see a few options to resolve this issue:
1. Get PHPCS patched to allow sniffs to be lo

[2014-05-22 13:43] #74 closed, assigned to nobody

[2014-05-22 20:08] israelshirk opened #79 "v0.1.24 broke Pear."
[code]

Repeats on Travis-CI, etc.  ruleset.xml seems to be missing.

[2014-05-22 20:58] #79 closed, assigned to nobody

[2014-05-23 05:33] derekperkins opened #80 "Ignore PHP Variables"
After using file_get_contents, I access $http_response_header to get the response data. I have Codesniffer enabled as a pre-deploy check. Can I get it to ignore this case when it's a variable name that I can't change?

[2014-05-23 15:17] #80 closed, assigned to nobody

[2014-06-11 12:17] sribo23 opened #81 "Maximum character limitation"
Do we really need this limitation check? I could not find any hint in cakephp docu. If we still need this then pls check if we have to stick to max 85 characters

[2014-06-11 15:17] #81 closed, assigned to nobody

[2014-06-15 17:24] ADmad opened #82 "FunctionCommentSniff doesn't account for `@inheritDoc`"
The `FunctionCommentSniff` complains about missing `@param` / `@return` tag when docblock only has `{@inheritDoc}`.

[2014-06-18 16:20] choma opened #83 "About tabs and spaces in coding standards"
This is not a bug report, but a question (sorry if this is not the place to ask it).
I've been reading [php-fig](http://www.php-fig.org/) standards and coding styles. In coding styles they say:
"Code MUST use 4 spaces for indenting, not tabs."

But CakePHP still use tabs as coding standard. Does CakePHP, as a member of the project, plan to change that?

Greetings!

[2014-06-18 16:32] #83 closed, assigned to nobody

[2014-06-22 20:22] #82 closed, assigned to nobody

[2014-06-22 20:24] #70 closed, assigned to nobody

[2014-06-22 20:26] #56 closed, assigned to nobody

[2014-06-22 20:28] #46 closed, assigned to nobody

[2014-06-22 20:31] #21 closed, assigned to nobody

[2014-06-26 11:12] davidsteinsland opened #86 "PEAR issue?"
Is there something wrong with the PEAR package?

I get:

[code]

after installing with pear (on CircleCI):

[code]

It started failing after June 6th.

[2014-06-26 12:01] #86 closed, assigned to nobody

[2014-07-07 14:06] dereuromark opened #90 "Error in a test"
https://github.com/cakephp/cakephp-codesniffer/blob/master/CakePHP/tests/files/whitespace_comma.php#L2
This looks like there is an error in the tests

    array_map('hexdec',array_filter(...

should have a space after the comma:

    array_map('hexdec', array_filter(...

[2014-07-15 06:55] CostaC opened #93 "Origin of "Doc blocks must not be indented" ?"
"Doc blocks must not be indented" forces doc blocks to not be aligned to method declarations.

The PSR, PEAR & Zend styles don't enforce the "no indent" so I'm curious where this comes from?

[2014-07-15 07:36] #93 closed, assigned to nobody

[2014-07-28 16:41] ravage84 opened #94 "Future PEAR support"
I was just wondering how the PEAR support will be handled for the CakePHP CodeSniffer in the near future?
It seems the Composer support is already setup fine but the recommended installation is still PEAR.

[2014-07-28 17:19] #94 closed, assigned to nobody

[2014-08-29 16:58] ravage84 opened #96 "1.x FunctionCommentThrowTagSniff"
While doing some CS fixes in our code, I came accross `FunctionCommentThrowTagSniff.php`.

https://github.com/cakephp/cakephp-codesniffer/blob/master/CakePHP/Sniffs/Commenting/FunctionCommentThrowTagSniff.php

There is also an identically named sniff in the Squiz Standard:
https://github.com/squizlabs/PHP_CodeSniffer/blob/master/CodeSniffer/Standards/Squiz/Sniffs/Commenting/FunctionCommentThrowTag

[2014-09-10 15:21] dereuromark opened #97 "Add CastSniff"
Include  [Cast sniff](https://github.com/dereuromark/cakephp-codesniffer/blob/master/Vendor/PHP/CodeSniffer/Standards/MyCakePHP/Sniffs/PHP/CastSniff.php)
to phpcs enforce the recommended way of casting as per [docs](http://book.cakephp.org/2.0/en/contributing/cakephp-coding-conventions.html#casting).

Used in https://github.com/cakephp/cakephp/pull/4570 already as autofixer version.
The version fo

[2014-09-20 17:06] dereuromark opened #101 "We should switch to phpcs-fixer branch in 3.x some time."
Working with the [phpcs-fixer branch](https://github.com/squizlabs/PHP_CodeSniffer/tree/phpcs-fixer) quite some time now, I think we should switch to it completely some time in the 3.x development.

It would fairly decrease the time to fix trivial CS errors, as all you need to do is to apply `-f` etc and all those issues will automatically be fixed for you - a real time safer.

A CakePHP3.0 compat

[2014-09-25 23:27] gsherwood opened #102 "Auto-fixing code not correclty checking if it should run"
The auto fixes in the standard don't check if they are supposed to run, so they will run even if the list of sniffs is being filtered with the `--sniffs` command line argument.

Examples of the code that needs correcting are:
https://github.com/cakephp/cakephp-codesniffer/blob/phpcs-fixer/Sniffs/ControlStructures/ElseIfDeclarationSniff.php#L53
https://github.com/cakephp/cakephp-codesniffer/blob/ph

[2014-11-20 23:56] ghost opened #106 "Codesniffer for CakePHP 3"
Hi there - I've been coding using CakePHP 3, and I was wondering when the release of CodeSniffer for that might be out (or if it's out, where it's at).

I have the current one set up, but I'm getting errors that must be referencing older versions of CakePHP. (Line max is 85 rather than the suggested 100-120 on the current documentation, opening function bracket suggested on a new line rather than

[2014-11-22 05:07] #106 closed, assigned to nobody

[2014-11-25 16:15] davidyell opened #108 "Failing on camelCase rule"
So I have this error.

`27 | ERROR | Member variable "Imagine" is not in valid camel caps format`

My class looks like this.

[code]

I'm not really sure how to make that "camel caps" whatever that might be.

PS, The reason it's not `$_Imagine` is because I've removed that rule :snake:
Here are the changes I've made. https://github.com/UKWebMedia/cakephp-codesniffer/compare/cakephp:master...master

[2014-11-25 16:44] #108 closed, assigned to nobody

[2014-12-02 03:52] guywarner opened #109 "Create sniff for CakeEvent and Event"
Due to https://github.com/cakephp/cakephp/issues/2264 making it into 2.* and 3 we should add a sniff test for events and the doc @triggers

[2014-12-05 05:44] antograssiot opened #112 "Update composer.json to stick to squizlabs/php_codesniffer 1.x"
PHPCS fails since last night because squizlabs/php_codesniffer release 2.0.0 stable, yesterday it was using 1.5.5.
Should we update the composer.json of cakephp/cakephp-codesniffer to require `1.4.*` instead of `>=1.4` so we can continue to use it and have time to update it properlly.

Here is the error :
https://travis-ci.org/cakephp/cakephp/jobs/43062118

I can handle it if you're OK

[2014-12-06 05:23] #112 closed, assigned to nobody

[2014-12-27 14:41] #96 closed, assigned to nobody

[2014-12-31 01:58] ashishnaicker opened #117 "The requested package cakephp/cakephp-codesniffer could not be found in any version"
Command: The requested package cakephp/cakephp-codesniffer could not be found in any version.

Error:

Changed current directory to /root/.composer
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package ca

[2014-12-31 02:40] #117 closed, assigned to nobody

[2015-01-05 18:15] ravage84 commented on #96
@ADmad this ticket was opened towards 1.x, please re-open.

[2015-01-05 18:18] ADmad commented on #96
@ravage84 You can open a pull request if you think this is worth pursing.

[2015-01-05 18:21] ravage84 commented on #96
May be I will but that does not change the (open) state ot the issue for 1.x

[2015-01-05 18:38] ADmad commented on #96
It's normal practice to close tickets which remain idle for a long period and are unlikely to be acted upon.

Replacing the sniff with original one from Squiz is a pretty low priority task. You did mention finding a bug but haven't provided any details about it.

[2015-01-19 16:16] sdustinh opened #118 "Sniffer rules add PHP 5.6 requirement"
So this is kind of a weird one. I extended the FlashHelper to work with Bootstrap. When I did I went ahead and added some templates to help with generation. This is what I ended up with...

[code]

This causes a phpcs error as the `dismiss` key has 134 characters on a single line. So I converted it to this...

[code]

This passes the sniffer rules so I pushed to the repo all well and good. I went

[2015-01-20 11:26] jadb commented on #118
@sdustinh for the protected method - turn warnings off (use `phpcs -n`). CakePHP doesn't fully follow PSR2.

As for the long line error, try defining your `$_defaultConfig` in the `__construct()` - I don't think you can to [string concatenation when defining class properties](http://stackoverflow.com/questions/8631653/php-string-concatenation-within-class-definition) (maybe on php 5.6 which you se

[2015-01-20 15:36] sdustinh commented on #118
@jadb Ah, you're right. You can't do it in [php 5.5 but you can in 5.6](http://docs.php.net/manual/en/migration56.new-features.php#migration56.new-features.const-scalar-exprs). I guess I could throw it into the constructor but it just doesn't look at uniform. :)

I guess I should have looked into this a little deeper before opening the issue. Sorry about that, thanks for the help!

[2015-01-20 16:02] #118 closed

[2015-02-10 17:16] greenmanspirit opened #121 "Underscore conflict on protected methods"
Hello,

It appears that we have sniffs wanting opposite things.

The following sniff wants you to have an underscore in front of protected method names:
CakePHP.NamingConventions.ValidFunctionName.ProtectedNoUnderscore

The following sniffs want you to -not- have an underscore in front of protected method names:
PEAR.NamingConventions.ValidFunctionName.PublicUnderscore
Squiz.NamingConventions.Vali

[2015-02-10 17:19] ADmad commented on #121
We have [passing](https://github.com/cakephp/cakephp-codesniffer/blob/master/CakePHP/tests/files/class_underscore_prefix_pass.php) tests file showing no errors are reported for methods with underscore prefix.

[2015-02-10 17:24] bcrowe commented on #121
We have the "no underscore" sniffs marked as excluded for the time being because we've bounced around the idea of removing the underscore prefixes in a future version.

But, until then, we'll be requiring underscores for protected methods.

[2015-02-10 17:27] ADmad commented on #121
I'll check with latest phpcs and skip the reported sniffs if they are indeed causing problem.

[2015-02-10 17:34] greenmanspirit commented on #121
We worked it out in the IRC. I had been trying to verify 2.x code against the master branch.  When I read it, I thought that the 1.x releases were for 1.x versions of cakephp. I am good now.

[2015-02-10 17:34] #121 closed

[2015-02-16 15:18] greenmanspirit opened #122 "Codesniffer 1.0.0 passed cakephp 2.x functions and variables with underscore"
I am using codesniffer 1.0.0 and I had two function names in my controllers pass with underscores. The first was "public function update_children" and the second was "public function get_needed_fields". It is also passing with $title_for_layout still in app/Controller/PagesController.php.

[2015-02-16 15:26] jadb commented on #122
@greenmanspirit - this is to be expected on the 1.0 version. If you are trying to run it for a cake3 project, use the 2.0 version.

[2015-02-16 15:26] #122 closed

[2015-02-16 15:34] greenmanspirit commented on #122
This is for a cakephp 2.x project. I submitted this because the cakephp coding standard here http://book.cakephp.org/2.0/en/contributing/cakephp-coding-conventions.html#naming-convention say that both of those situations are invalid.

[2015-02-16 15:58] jadb commented on #122
@greenmanspirit in general, its advised to use camelBacked method names. However, in cake2, action names in the controller could be using underscores.

[2015-02-16 16:00] ADmad commented on #122
Controllers are allowed to have method name with underscore.

[2015-02-17 21:13] greenmanspirit commented on #122
Ok, I must have misread. Thank you.

[2015-03-02 19:59] tersmitten opened #123 "Is there a particular reason for disallowing TODO comments?"
See [this line](https://github.com/cakephp/cakephp-codesniffer/blob/1.x/CakePHP/ruleset.xml#L20).

In our codebase I would like to allow them. Of course I could just fork this repository, but I just wanted to understand the reason (and maybe propose a change :-)).

[2015-03-02 23:08] ravage84 commented on #123
@tersmitten you don't need to fork the repo. But you can create a ruleset of your own by extending and/or adjusting an existing rule set.

In your case, it could look like this:

[code]

Put this ruleset.xml into a separate VCS repo and include it through Composer, e.g.:

[code]

I do exactly this with our company's CS. :joy_cat:

[2015-03-03 01:55] markstory commented on #123
Instead of a TODO we prefer to just do. :smile: We had problems in CakePHP in the past where people would put TODOs and never do them.

[2015-03-03 09:07] tersmitten commented on #123
@markstory, I understand, we have the same problem :-), but still still there're times that we can't fix them now...

[2015-03-03 09:08] tersmitten commented on #123
@ravage84, Thanks for the great explanation! I'll try that.

[2015-03-03 09:08] #123 closed

[2015-03-03 11:29] tersmitten commented on #123
I've put something together, maybe it's useful for someone else: https://github.com/Oefenweb/cakephp-codesniffer.

[2015-03-11 10:28] davidyell opened #125 "Release notes"
I think that the 1.0.0 needs some brief release notes to outline that is it the version to use for CakePHP2. Currently it's just got a commit message, when some more verbose notes could be given to better help users still working on 2.x content.

https://github.com/cakephp/cakephp-codesniffer/releases/tag/1.0.0

[2015-03-11 11:21] markstory commented on #125
I can take care of this.

[2015-03-11 11:24] davidyell commented on #125
Thanks Mark :smile:

[2015-03-12 01:54] markstory commented on #125
Done. If there are other things you'd like to see in the notes let me know.

[2015-03-12 01:54] #125 closed

[2015-05-10 21:39] bancer opened #131 "Invalid indentation error in ctp file"
Style checker reports an indentation error but there is none:

[code]

Result of running `phpcs --standard=CakePHP` on that file:

[code]

PHP_CodeSniffer version 1.4.8
CakePHP CodeSniffer 1.0.0
CakePHP 2.6.4

[2015-05-11 08:09] ADmad commented on #131
I doubt phpcs checks will work accurately for mix of html and php.

[2015-05-11 08:28] bancer commented on #131
Running phpcs without `--standard=CakePHP` outputs other warnings and a different error so the problem seems to be in CakePHP standard:
[code]

[2015-05-11 10:43] ravage84 commented on #131
Even though your conclusion could be true, the reason for your conclusion is probably misleading.

But I know the problem. I have CS checking with the CakePHP standard enabled for my ctp files and the error reporting is a bit flaky. Most of the time I ignore it though. :smiley_cat:

[2015-05-13 12:10] btaens commented on #121
This causes problems for PhpStorm's phpcs integration. If I write them with an underscore, it says it mustn't be with an underscore. If I don't, it says the opposite.

[2015-05-13 19:06] deizel commented on #121
I have the same problem with this one particular rule, even though it works fine on the command line.

Doesn't seem to be related to any IDE settings I can find, but it happens in both PhpStorm 9 and EAP.

[2015-05-28 10:52] aleixfabra opened #132 "Why aligntab is not allowed?"
This is cleanest

[code]
than this

[code]

[2015-05-28 11:13] ravage84 commented on #132
Because this leads to many unnecessary whitespace changes.
This is unwanted, distracting "white noise" in the VCS and has very limited benefits ("looks cleaner", arguably).

Years ago I had the same opinion and some programming languages benefit more than others, I guess.
But most PHP developers think this is a bad habit and I agree.

[2015-05-28 13:37] markstory commented on #132
For exactly the reasons @ravage84 outlined.  You can always disable that sniff by creating a custom ruleset that ignores/excludes/disable the tab alignment sniffs.

[2015-05-28 13:37] #132 closed

[2015-06-12 14:57] dogmatic69 commented on #101
I am having the same issue as @davidyell for the last couple of weeks.

[code]

Cake 2.x

[2015-06-12 15:04] ADmad commented on #101
@dogmatic69 Unless you can track down the cause and provide a fix yourself I doubt anyone has the time to look into it.

[2015-06-12 15:07] ADmad commented on #101
@dereuromark Is your original issue still relevant? I have used phpcbf.phar with our 2.x standard to update old code and it seems to work reasonably fine.

[2015-06-12 15:08] dereuromark commented on #101
Only as additions as my branch had a few more useful sniffs. Nothing totally required, though.

[2015-06-12 15:11] ADmad commented on #101
Okay, closing then. Feel free to open a PR with additional sniffs whenever you like.

[2015-06-12 15:11] #101 closed

[2015-06-12 15:14] ADmad commented on #29
Closing as this is pretty old and has no activity.

[2015-06-12 15:14] #29 closed

[2015-06-12 15:15] ADmad commented on #69
Closing as this is pretty old and has no activity.

[2015-06-12 15:15] #69 closed

[2015-06-12 15:16] ADmad commented on #90
Closing as this is pretty old and has no activity.

[2015-06-12 15:16] #90 closed

[2015-06-12 15:19] ADmad commented on #109
Closing due to inactivity. Feel free to open an new PR with proposed change.

[2015-06-12 15:19] #109 closed

[2015-06-12 15:27] dogmatic69 commented on #101
turns out everything was the wrong version, some how got updated and broke.

[2015-07-07 04:36] deizel commented on #121
Seem to be an issue with PhpStorm: [WI-17740](https://youtrack.jetbrains.com/issue/WI-17740#comment=27-1029374)

[2015-07-22 04:51] davehensley opened #137 "Method name "MyController::my_action" is not in camel caps format"
When using the CakePHP standard, phpcs complains that my action names are underscored rather than camelCased.

This seems to have been fixed a long time ago: https://github.com/cakephp/cakephp-codesniffer/issues/2

Any idea why I'm still getting the error?

[2015-07-22 04:58] markstory commented on #137
What version of the cakephp-codesniffer are you using?

[2015-07-22 05:01] davehensley commented on #137
PHP_CodeSniffer version 2.3.3 (stable) by Squiz (http://www.squiz.net)
cakephp/cakephp-codesniffer           2.0.4  CakePHP CodeSniffer Standards

[2015-07-22 05:30] ADmad commented on #137
Which is the sniff which reports this error? (Use the `-p` flag when running phpcs)

[2015-07-22 05:40] davehensley commented on #137
I think you mean -s instead of -p?

    $ ./vendor/bin/phpcs -s --standard=CakePHP src/Controller/MyController.php

    FILE: .../src/Controller/MyController.php
    ----------------------------------------------------------------------
    FOUND 1 ERROR AFFECTING 1 LINE
    ----------------------------------------------------------------------
     13 | ERROR | Method name "MyController::my_actio

[2015-07-22 05:48] ADmad commented on #137
Yes sorry, i forgot which switch it was :)  As I had expected the requirement of camel caps method name is encored by PSR standard. Code sniffer 2.x is an extension of PSR2 (which included PSR1) hence the error is expected.

I would suggest just using camel caps method names for controller actions too and use routing to map required url format to the method. For e.g. if you use `DashedRoute` it al

[2015-07-22 05:55] davehensley commented on #137
Thanks for the tip about DashedRoute. But are underscored action names no longer the preferred style? The book is still full of them: http://book.cakephp.org/3.0/en/controllers.html

[2015-07-22 06:12] ADmad commented on #137
The book still uses underscored examples for historical reasons. In 3.0 you have option to use either `InflectedRoute` (which uses underscore) or `DashedRoute` (or any custom one). I would suggest using `DashedRoute` as Google recommends using dashes in urls. In 3.1 `DashedRoute` will be the default route.

[2015-07-22 06:41] davehensley commented on #137
Ok, will do. Thanks for your help.

[2015-07-22 06:41] #137 closed

[2015-07-29 07:09] festen opened #138 "private methods not allowed?"
CakePHP phpcs with CakePHP standards now fires `CakePHP.NamingConventions.ValidFunctionName.PrivateMethodInCore` on all my private methods.
Problem comes from the removed `/lib/cake`, so now everything is core.
I suspect commit 80ad8bccfeff53bbc4502c0e2fef04a0a16fbd58

[2015-07-29 07:33] festen commented on #138
Created a pull request for this: #139

[2015-07-29 07:46] #138 closed

[2015-08-11 15:13] Marlinc opened #141 "Inline variable type hinting causes CakePHP_Sniffs_Commenting_DocBlockAlignmentSniff"
Using

[code]

Causes the ```CakePHP_Sniffs_Commenting_DocBlockAlignmentSniff``` sniff to go off.

I don't really know how to fix this.

[2015-08-11 15:16] davidyell commented on #141
Surely if it's alignment it should just be

[code]

[2015-08-11 15:17] Marlinc commented on #141
Will it is, I just didn't copy the whitespaces in front of the comment. Its actually like this

[code]

[2015-08-11 15:20] ADmad commented on #141
Since the comment starts with `/**` phpcs thinks it's a API docblock. Need to somehow make it ignore such tags. IDEs suck :stuck_out_tongue:

[2015-08-11 15:21] Marlinc commented on #141
I see, well would using another type of comment solve the issue?

[2015-08-11 15:22] ADmad commented on #141
Pretty sure it won't complain if you use `//` or `/*`

[2015-08-11 15:23] Marlinc commented on #141
Okay, I'll use ```/*``` instead for now.

[2015-08-11 15:25] ADmad commented on #141
If your IDE is happy with that then this ticket should be closed. I don't think it's a bug since `/**` is meant to indicate phpcs docblock and you should use it elsewhere.

[2015-08-11 15:28] dereuromark commented on #141
I tested it and it seems to also work with `/* ... */` in PHPStorm for example.

[2015-08-11 15:29] Marlinc commented on #141
Yea I'm using IntelliJ IDEA and as PHPStorm is based on it appears to be fine as well. I'll close this issue as @ADmad suggested.

[2015-08-11 15:29] #141 closed

[2015-09-23 20:23] HaroldPutman opened #142 "CakePHP 2.0 standards with phpcs 2.x"
I tried using the CakePHP 2 coding standards by checking out release 1.0.0 of this project, but I get an exception caused by dependencies on classes from old version of phpcs. (should have checked composer.json first).

I still have to deal with some CakePHP 2.x code. Would it make sense to have a version of the CakePHP2 standards that works with newer phpcs?  That looks like it might be a lot of

[2015-09-23 21:18] ravage84 commented on #142
Sure it would make sense, but as you already pointed it out: It might be [hell of] a lot work :smirk_cat:

Until there is a phpcs 2.x compatible version of the CakePHP 2.x CS, I recommend you to use Composer to manage the phpcs 1.5.x dependency for your 2.x applications.
Works well for me, at least.

[2015-09-24 01:14] markstory commented on #142
Yes its a pile of work which is why it has not been done. I agree with @ravage84 and that you should use composer to manage dependencies.

[2015-12-03 08:41] tersmitten opened #147 "Drop exclude-pattern in rule"
We have a [modified version](https://github.com/Oefenweb/cakephp-codesniffer) of the cakephp-codesniffer. We would like to ignore an `exclude-pattern` set in the `CakePHP.Commenting.FunctionComment` rule:

[code]

I've tried to do this:

[code]

But that does not work.

[code]

Also doesn't work. Any suggestion?

@ravage84: You probably know the answer since you helped me before with something sim

[2015-12-04 19:57] ravage84 commented on #147
Have you tried it this way?

[code]

[2015-12-05 07:53] bravo-kernel commented on #147
:tractor:

[2015-12-07 20:03] tersmitten commented on #147
@ravage84 I'll try that

[2015-12-13 11:33] half2me opened #148 "Missing doc parameter false positive on interfaces?"
I have the following problem.
I tried erasing the documentation and retyping it. Still the same problem:
It says a parameter is missing in the documentation... but its there! (PortalInterface.php)
![screen shot 2015-12-13 at 11 49 03](https://cloud.githubusercontent.com/assets/6759894/11766751/53d95596-a195-11e5-8961-98feadb58b19.png)

[2015-12-13 12:02] antograssiot commented on #148
@half2me I didn't check but I'm pretty sure that you need to invert the variable type and name like :
[code]

[2015-12-13 13:17] markstory commented on #148
@antograssiot is right param comments should be `@param <type> <varname> <description>`.

[2015-12-13 13:17] #148 closed

[2015-12-13 14:41] half2me commented on #148
@antograssiot You are right, I didn't even notice I had reversed their order...

[2016-01-29 20:19] gmponos opened #149 "Should I prefix with an underscore the protected methods or not"
I am trying to use CodeSniffer. At first I used the 2.0.0 version and I got an error that my protected function is not prefixed with an underscore.

I updated to the latest version and prefixed my function. Then I got the following error:

Protected method name "CsvComponent::_getDefaultFileName" must not be prefixed with an underscore

So which one is it? According to this http://book.cakephp.org

[2016-01-29 20:27] dereuromark commented on #149
Yes the message is wrong. It should be allowed to use underscore prefixing for protected.
Maybe it someone didn't recognize the standard and applied some default one?

[2016-01-29 21:12] gmponos commented on #149
Adding the steps I follow:

[code]

[2016-01-29 21:46] gmponos commented on #149
It seems that it has something to do with the CakePHP version.

Basically I have developed a plugin both for CakePHP2 and CakePHP3.

if I switch plugin to the branch for CakePHP2 and use a protected function with underscore and run the following commands
[code]

I get an error. On the other hand if I switch to CakePHP3 and run the same commands with a prefixed underscore protected function I do no

[2016-01-29 22:19] HavokInspiration commented on #149
It may have something to do with the version of the Sniffer you are running the check with.

The master branch of the sniffer is made to check code for the CakePHP 3 release.
If you want to sniff code for the CakePHP 2 release, you have to use the 1.X release of the sniffer.

There's a note in the README of the sniffer : https://github.com/cakephp/cakephp-codesniffer

[2016-01-29 22:46] markstory commented on #149
We should probably update the book to not mention two `_` in front of private. One is more than enough.

[2016-01-29 22:59] gmponos commented on #149
@markstory basically I was surprised why CakePHP didn't removed the `_` as PSR2 recommends.

@HavokInspiration are you referring to this note?

I believe it is a little bit unclear. It doesn't say that you shouldn't use the 2.x sniffer with CakePHP2. It just says that the rules are different. I just made the assumption that the rules of 2.x sniffer will apply the same regardless of the version of

[2016-01-29 23:22] HavokInspiration commented on #149
@gmponos I thought you were using different versions of the sniffer for each of your plugin versions, which would have explained the differences between the sniff results. I misread the original issue.

Is the package on which you have those errors available somewhere ? So we can check against your example ?

[2016-01-30 00:34] markstory commented on #149
Yes. We officially migrated to PSR2 midway through the Cake 3 betas. We didn't remove the `_` as it would have been a highly disruptive change with little to no functional value.

[2016-01-30 01:05] dereuromark commented on #149
Also, PSR2 does not disallow the underscore for protected methods.

[2016-01-30 10:11] gmponos commented on #149
@dereuromark Yea.. I know that is why I used the word _recommends_

@HavokInspiration You can test it your self by download/clone CakePHP 2.x version then instead of cake-sniffer 1.0.0 use 2.0.x version and test it with a core file. For example I tested the file ``lib/Cake/Network/CakeRequest.php`` and got the following:

[code]

I thought that I might be able to use the 2.0.x with CakePHP2. If th

[2016-01-30 11:06] ADmad commented on #149
Codesniffer 2.x is meant for cakephp 3.x. For cake 2.x you should use codesniffer 1.x.

The cakephp core uses underscores for protected but we don't want to force users to do the same in their app. That's why it doesn't throw error / warning for missing underscore.

Closing as there is nothing that needs to be fixed or changed.

[2016-01-30 11:06] #149 closed

[2016-01-30 13:53] gmponos commented on #149
IMHO If you don't want to force the users to use an underscore then you should show a warning since this is what the cakephp book suggests.

Anyway I hope you take this in consider. Thank you for your answers.

[2016-01-30 19:31] markstory commented on #149
No. The 1.x branch of the code sniffer is to for the CakePHP 2.x standards. The 2.x branch of the code-sniffer is a PSR2 compliant code sniffer.

[2016-03-31 21:37] Marlinc opened #152 "Function with yield throws 'Function return type is not void, but function has no return statement'"
A function using yield returns "Function return type is not void, but function has no return statement" as error when `\Generator` has been defined as `@return`.

I tried to apply squizlabs/PHP_CodeSniffer@591d44bd23f02a88354be515c0bb35f3f975fe33 which fixed the issue. So this would be the same issue as squizlabs/PHP_CodeSniffer#479.

[2016-04-01 01:22] markstory commented on #152
Closing as there is a pull request open now.

[2016-04-01 01:22] #152 closed

[2016-05-18 11:25] dewalddp opened #154 "Request: Please add a new version tag?"
The last tag was in November last year. Would it be possible to tag a new version?

[2016-05-18 11:31] ravage84 commented on #154
The last tag was in December last year.

Changes since that tag:
https://github.com/cakephp/cakephp-codesniffer/compare/2.0.6...master

[2016-05-18 11:37] ADmad commented on #154
Done

[2016-05-18 11:37] #154 closed

[2016-07-12 18:15] #147 closed

[2016-07-12 18:16] #142 closed

[2016-08-11 09:36] davidyell opened #157 "New 1.x release"
Please can someone push a new release for the `1.x` version.

Thanks! 👍

[2016-08-12 01:48] markstory commented on #157
1.0.1 tagged.

[2016-08-12 01:48] #157 closed

[2016-08-12 07:49] davidyell commented on #157
Thanks @markstory

[2016-08-18 12:20] mirko-pagliai opened #158 "Error with the `list()` construct"
I've this code:

    list(,, $extension, $filename) = array_values(pathinfo($filename));

And this related error:

    57 | ERROR | [x] Missing space after comma

Also trying this (spaces before commas):

    list( , , $extension, $filename) = array_values(pathinfo($filename));

I've this error:

    57 | ERROR | Space before comma, expected none, though
    57 | ERROR | Space before comma, expect

[2016-08-18 12:33] dereuromark commented on #158
Might be a bug in the sniffer rule.
Check my https://github.com/php-fig-rectified/psr2r-sniffer/blob/master/PSR2R/Sniffs/PHP/ListCommaSniff.php if that one would fix the issue, you can port the fix over as a PR if you want to in case that resolves it.

[2016-08-18 13:29] ADmad commented on #158
@mirko-pagliai Run phpcs with `-s` switch so that it shows the name of the sniff which is reporting this error.

[2016-08-18 17:17] mirko-pagliai commented on #158
@ADmad

    57 | ERROR | [x] Missing space after comma
       |       |     (CakePHP.WhiteSpace.CommaSpacing)

and again:

    57 | ERROR | Space before comma, expected none, though
       |       | (CakePHP.WhiteSpace.CommaSpacing)
    57 | ERROR | Space before comma, expected none, though
       |       | (CakePHP.WhiteSpace.CommaSpacing)

Now I'll try the fix proposed by @dereuromark .

[2016-08-18 17:25] mirko-pagliai commented on #158
@dereuromark with no space

    list(,, $extension, $filename) = array_values(pathinfo($filename));

 I've the same error:

    57 | ERROR | [x] Missing space after comma
     |       |     (PSR2R.WhiteSpace.CommaSpacing)

Adding a space:

    list(, , $extension, $filename) = array_values(pathinfo($filename));

no errors, ok.

Now, what I have to do? I don't know how a sniffer works.

[2016-08-18 17:29] dereuromark commented on #158
I would expect it to have a space to make it easier to count.
Someone can just port my CommaSpacing fixer changes to the Cake one.

[2016-08-18 17:38] mirko-pagliai commented on #158
I am not able, I'm sorry. I wait, then.

[2016-08-18 17:38] dereuromark commented on #158
It is basically just adding
[code]
OK, we can do it.

[2016-08-20 16:08] antograssiot commented on #102
this has been done a while ago.

[2016-08-20 16:08] #102 closed

[2016-08-25 10:56] mirko-pagliai opened #161 "Relax PSR1.Files.SideEffects also for config/"
In my app and in my plugin, I usually require other files in the `config/` files.
This is, for example, for not too lengthen the `bootstrap.php` file and divide the code in other files.

[2016-08-25 14:27] markstory commented on #161
Seems reasonable to me.

[2016-08-25 16:30] mirko-pagliai commented on #161
Do i do a PR?

[2016-08-25 16:32] #161 closed

[2016-08-29 20:02] mirko-pagliai opened #164 "update php_codesniffer"
Why the version of `php_codesniffer` is still at 2.4 (nov 2015)?
There is also this nasty bug:
https://github.com/squizlabs/PHP_CodeSniffer/issues/786

[2016-08-29 20:29] antograssiot commented on #164
2.4 is the minimal required version, it is not pinned to 2.4. also we are already working on 3.x

[2016-08-29 20:29] #164 closed

[2016-08-31 04:09] ADmad opened #166 "Check for whitespace on empty/blank lines"
The [PSR2 ruleset](https://github.com/squizlabs/PHP_CodeSniffer/blob/master/CodeSniffer/Standards/PSR2/ruleset.xml#L39) has made the whitespace checks provided by `Squiz.WhiteSpace.SuperfluousWhitespace` a bit too lenient. We should bump up the severity of those checks again in our ruleset, especially the check for whitespace on blank lines.

[2016-08-31 07:51] dereuromark commented on #166
Any trailing whitespace imo.

[2016-08-31 10:32] ADmad commented on #166
Trailing spaces on code lines are already being checked. Just for blank lines it's skipped.

[2016-09-01 19:20] antograssiot commented on #166
closing as #167 is open now

[2016-09-01 19:20] #166 closed

[2016-09-06 09:29] inoas opened #168 "Consistency rule for tailing array element commas"
Ref: https://github.com/cakephp/migrations/pull/260/files/79532cca6022f56c80eca4f317f961f8bab6b4c1#r77485760 and @dereuromark

IMHO it is beneficial to always omit it because else you would be required to do, like so

[code]

However when having multiple lines its beneficial to always add because then you never forget to add to prior items, like so:

[code]

### Suggestions

* A.) Never a tailing

[2016-09-06 10:49] ravage84 commented on #168
I prefer B.

Using them inline looks odd and I see no benefit from using them.
But using them "on block-use", makes copying and editing a line in a multiple line array a breeze.

[2016-09-06 10:52] dereuromark commented on #168
B is the Standard usually

[2016-09-06 16:28] markstory commented on #168
I do B as well.

[2016-09-06 16:46] antograssiot commented on #168
for instance cakephp/migrations doesn't use this standard but psr-2 only.
@inoas would you like to submit a PR ??

[2016-09-06 16:48] dereuromark commented on #168
Cake was always more specifically than psr2.

[2016-09-06 17:49] ADmad commented on #168
B for me too.

[2016-09-09 15:18] dereuromark opened #169 "use statement order sort fix"
Can we please make stickler and the code sniffer in sync with the normal expectation of ordering?

stickler-ci reports it the other way around, which then must be resolved by hand :(
[code]
See https://github.com/dereuromark/cakephp-tools/commit/7ca32edfab80e2dcf2b207d8c107a9e78314add3

IDEs though provide it by natural sorting of directories:
[code]

Just a minor glitch, though.

[2016-09-09 17:18] markstory commented on #169
stickler-ci is using this repo for linting rules. If we change our rules it will cause big churns in related repositories.

[2016-09-09 17:20] dereuromark commented on #169
I guess there is no good solution then.

[2016-09-09 17:20] #169 closed

[2016-09-09 18:28] ADmad commented on #169
@dereuromark Have you identified exactly which sniff is reporting the error? If it's one inherited from PSR2 ruleset you can submit a ticket on phpcs' repo itself.

[2016-09-09 19:06] dereuromark commented on #169
Well, maybe the IDEs are doing it wrong, not sure anymore what the "correct" order would be.

[2016-09-16 05:17] inoas commented on #168
@antograssiot Can't do it anytime soon. If no one picks it up I can take a look early next year.

[2016-09-16 10:05] lorenzo commented on #168
I'll vote A, we are making it harder and harder to contribute to cake for no good reason.

[2016-09-16 10:24] dereuromark commented on #168
And how does A help here? :smiley_cat:

[2016-09-16 10:31] ADmad commented on #168
We should either go for B or maintain status quo :)

[2016-09-16 12:02] inoas commented on #168
A) and B) both make kind of sense *to me*.

I do also understand @lorenzo argument. However the trailing commata will not be the issue someone will have in his face but rather the whole contribution work flow, unit tests etc, IMHO.

[2016-09-16 12:03] dereuromark commented on #168
And as long as it is an auto-fixer, there is no overhead involved, as it will be fixed for you, you dont have to wry about it.

[2016-09-17 01:25] markstory commented on #168
Do we need to standardize trailing commas at all?

[2016-09-17 01:45] ravage84 commented on #168
Sure, if we want to brag about consistency? :smirk_cat:

[2016-09-18 07:40] lorenzo commented on #168
Sorry, I meant A as no changes required. I don't think we need to make this an standard.

[2016-09-18 07:48] dakota commented on #168
I don't think we need to make any changes as @lorenzo said.

[2016-09-18 08:25] antograssiot commented on #168
also ok to keep it as is. At least I'm not against B but won't work on it

[2016-09-18 10:47] inoas commented on #168
We can just agree on doing A xor B :P "most of the time" and put it in the code styleguides in the book? No need to "fix" existing styles.

[2016-09-18 11:12] ADmad commented on #168
Putting style guides in doc that are not actually enforced doesn't make much sense.

Closing the issue.

[2016-09-18 11:12] #168 closed

[2016-09-19 14:08] dereuromark commented on #168
Someone can just port my created https://github.com/spryker/code-sniffer/compare/feature/trailing-comma  ArrayDeclarationSniff - and problem is solved :)

- Single-line: no trailing comma
- Multi-line: trailing comma

Both auto-fixed for everyones convenience.

[2016-10-20 08:23] narendravaghela opened #170 "Notice: Uninitialized string offset: 0"
I got below error while running phpcs:

Notice: Uninitialized string offset: 0 in \vendor\cakephp\cakephp-codesniffer\CakePHP\Sniffs\Commenting\FunctionCommentSniff.php on line 258

The code on line 258 is as below:

[code]

It should first check if there is a character at position 0.

[2016-10-20 08:42] narendravaghela commented on #170
As a workaround, I have modified that line like,

`$firstChar = isset($comment{0}) ? $comment{0} : '';`

Please let me know if it is correct way or not? If yes, I can open a pull request.

[2016-10-20 08:45] dereuromark commented on #170
Looks OK to me, a PR is welcome.

[2016-10-20 08:52] narendravaghela commented on #170
PR is created.

[2016-10-20 08:52] #170 closed

[2016-10-21 08:38] dereuromark opened #172 "Inline doc blocks"
According to https://phpdoc.org/docs/latest/guides/docblocks.html#anatomy-of-a-docblock
even inline doc blocks, like we have in quite a few places, e.g.

[code]

should start with `/**` actually:

[code]

Any objections to fix that and provide a sniffer for it?

[2016-10-21 13:11] thinkingmedia commented on #172
But.. but.. but... I just got use to using `/*`

[2016-10-21 13:20] dereuromark commented on #172
I thought you are using PHPStorm? That one automatically always uses /** :)

[2016-10-21 14:13] thinkingmedia commented on #172
phpstorm by default wants to reformat `/**` into multi-lines, but will keep `/*` on a single line.

We're using the single-line for type hinting only inside a code block. If you look at the specs it's talking about documentation generating. Which would only come from `/**` on class/function declarations.

So something like this would be ignored but useful for the IDE.

[code]

According to the php

[2016-10-21 15:06] dereuromark commented on #172
PHPStorm also keeps /** for single lines
Just type it and it will also start auto-adding `@var` etc :)

But I am also fine with `/* @var Type $variable */` if that is the convention somewhere.
We just need to decide for and stick to one.

[2016-10-23 18:41] dereuromark commented on #158
PR open.

[2016-10-23 18:41] #158 closed

[2016-10-26 17:14] dereuromark commented on #172
Additionally

    /** @var Document[] $documents */

is semantically an important and structured (inline) doc block
whereas

    /* Hey, that's nice */

would just be an inline comment, which then should be fixed to

    // Hey, that's nice

So any `/* ... */` should not even exist.

[2016-10-26 19:04] thinkingmedia commented on #172
I can easily search/replace the `/*` with `/**` that would just take me a minute.

So I'm okay with this change.

Now, let's argument about the use of `@var` and `@type`.

[2016-10-26 19:39] dereuromark commented on #172
Is `@type` the preferred one? Never heard of that, most IDEs still automatically add and use `@var` here I thought.

[2016-10-26 22:51] thinkingmedia commented on #172
I wish `@type` allowed us to actually define a new type, but it appears to yield the same results as `@var`. At least in phpstorm. I find myself using both depending upon my mood. I think `@var` might be better, because it saves us 1 character. In a life time, that could add up to an entire minute of our lives back.

[2016-10-26 23:30] dereuromark commented on #172
I would rather chose var for consistency with the other existing ones so far.

[2016-10-27 00:24] thinkingmedia commented on #172
Okay, here's something that's bugging me.

I find phpstorm screws up the return type when `@return $this` is used. I don't know why, but if we could use the actual class instead. It would work a lot better for phpstorm.

The only time this would be a problem is with the ORM Query class. I noticed that there are some inconsistencies in the return types used for the methods.

I suspect this is becau

[2016-10-27 00:39] dereuromark commented on #172
Yes, I suspect this to be a PHPStorm bug around $this. Especially with the combined setter/getter it completely breaks (`$this|...`)
Not much we can do here, probably?

[2016-10-27 15:48] thinkingmedia commented on #172
I could easily do a search and replace to change it. So if you want to
switch to the correct comment block. I'll good with that.

On Oct 26, 2016 1:14 PM, "Mark Sch." <notifications@github.com> wrote:

[2016-10-27 15:58] dereuromark commented on #172
I will work on finalizing the sniffers and report back to you.

[2016-10-28 15:25] thinkingmedia opened #175 "Sorting of "use" includes forward slash"
phpcs was reporting that the following was in the wrong order.

[code]

phpcs was reporting that the `\` character comes after `R`.

Is it possible to not include the slashes as part of the sort order. So that the following is valid.

[code]

This is the default for how phpstorm sorts use statements, and I find it more readable.

[2016-10-28 15:34] dereuromark commented on #175
I remember that I once said the same thing in a PR :)

[2016-10-30 00:16] dereuromark commented on #175
Correct me if I am wrong, but [mine](https://github.com/php-fig-rectified/psr2r-sniffer/blob/master/PSR2R/Sniffs/Namespaces/UseInAlphabeticalOrderSniff.php) should behave correctly. Maybe, if confirmed, that can be ported to this repo?

[2016-11-05 14:18] markstory commented on #175
@dereuromark You sniff also reports the classes as being in the 'wrong' order as well.

[2016-11-05 14:24] markstory commented on #175
This is probably because `\` does come after `R` in the ascii table which is generally how string values are sorted. Changing the sort order will prevent tools/editors doing simple string sorting on `use` classes.

[2016-11-05 14:27] ADmad commented on #175
Is the sniff which reports this error in our repo or coming from the PSR2 ruleset from phpcs's repo? If it's the latter than we surely shouldn't change it.

[2016-11-05 14:28] markstory commented on #175
@ADmad It is in our repo. The PSR2 sniffs don't make any assertions around use statement ordering.

[2016-11-14 11:21] dereuromark commented on #172
If we move forward with the correct `/**` the "Expected docblock to be aligned with code." stickler issue must be removed as well.
As long as the doc block follows the `/** @var Type $var */` syntax the above error should not occur.
As soon as it does not it is OK to error, because then it is not a doc block, but an actual inline comment.

[2016-11-20 20:21] ADmad commented on #172
:+1: for `/**`. Most other codes I have seen seem to follow that. The `DocBlockAlignmentSniff` which reports `Expected docblock to be aligned with code.` would have to be fixed if needed.

[2016-12-19 20:09] flashios09 opened #177 "Allow public function to be underscored inside Controller"
Hi @markstory,
CakePHP CS doesn't allow the public function(method) to be underscored inside Controller.
**cakephp-codesniffer/CakePHP/Sniffs/NamingConventions/ValidFunctionNameSniff.php:100**:
[code]
The first **if** `($methodName[0] === '_')` always return the error
I didn't understand why we have the 3 other **if** !

If we want to allow the public method to be underscored inside **Controller,

[2016-12-19 20:26] ADmad commented on #177
`$methodName[0] === '_'`  checks for underscore at first position. Our standards don't allow public methods starting with underscore. You can have public controller method with underscore somewhere in the middle of method name like `foo_bar`.

So you need to stop using public methods with underscore prefix if you want to confer to the CakePHP standard.

[2016-12-19 20:26] #177 closed

[2016-12-19 20:35] ADmad commented on #177
While this `CakePHP.NamingConventions/ValidFunctionName` does allow public controller methods with underscore `PSR1.Methods.CamelCapsMethodName.NotCamelCaps` will still report an error for it.

But since our 2.0 standards extends PSR2 (which includes PSR1) this won't be changed. The substring checks in `ValidFunctionNameSniff` are probably leftover code for the 1.x version of code sniffer.

[2016-12-19 20:40] flashios09 commented on #177
@ADmad ok i will stick to the cakephp naming conventions but can you tell me please why we can't have an underscored public method inside controller ?

[2016-12-19 20:44] ADmad commented on #177
Because that's our standard :)

[2016-12-19 20:46] flashios09 commented on #177
@ADmad and i love cakephp so i have to respect **STANDARD**  ;)

[2017-01-14 09:45] bravo-kernel opened #182 "Check for multiple blank lines?"
Is there a reason there is no sniff for multiple blank lines? It happens to me all the time that I accidentally commit stuff like this:

[code]

[2017-01-14 11:54] dereuromark commented on #182
No, just no one did it so far.
You can either write one, or copy [this](https://github.com/spryker/code-sniffer/blob/master/Spryker/Sniffs/Whitespace/EmptyLinesSniff.php) existing one for example into cakephp.

[2017-01-14 11:57] ADmad commented on #182
The standards included in phpcs itself might have a sniff for it too. So just check that first so only updating our ruleset would be required.

[2017-01-14 12:00] bravo-kernel commented on #182
Thanks for clarifying gents, I will not be able to look into this soon so consider this a placeholder, close if you like.

[2017-01-19 18:54] gmponos opened #183 "Using functions from cake should require the relative components"
I know that this package is supposed to be a collection of rules for `CakePHP` but someone might find it useful and might want to use at his own code/project which might not be in CakePHP.

At this [line](https://github.com/cakephp/cakephp-codesniffer/blob/master/CakePHP/Sniffs/NamingConventions/ValidVariableNameSniff.php#L175) you are using a function from cakephp but you are not requiring the re

[2017-01-20 02:49] markstory commented on #183
I'm reluctant to add a dependency on cakephp/utility for a single function. It might be simpler to duplicate the function into the fixer.

[2017-01-20 14:08] bravo-kernel commented on #182
I will check my setup, could be that I f** up a version or something. Will report back

[2017-01-20 14:37] ADmad commented on #182
The exact sniff responsible for checking multiple blank lines is [Squiz.WhiteSpace.SuperfluousWhitespace.EmptyLines](https://github.com/squizlabs/PHP_CodeSniffer/blob/master/CodeSniffer/Standards/PSR2/ruleset.xml#L50) which has been turned off in PSR2. But even turn that back on doesn't show errors, so not sure what's the issue.

[2017-02-05 16:43] dereuromark commented on #172
I upgraded mine to 3.0 - We can either use [InlineDocBlockSniff](https://github.com/php-fig-rectified/psr2r-sniffer/blob/develop/PSR2R/Sniffs/Commenting/InlineDocBlockSniff.php) directly as copy-paste, or extract the useful things for CakePHP.

[2017-02-06 00:29] markstory commented on #172
Possibly a dumb question, but is there a reason typehint comments don't use `//` style comments?

[2017-02-06 04:03] dereuromark commented on #172
Yes. Those are official Doc Blocks then. See the token parse Result.
No Matter if multi or single Line they need to start with /**.
All other comments /* and // are considered Text only.

[2017-02-21 09:34] cleptric commented on #182
I was able to fix it and updated the PR #184 with now passing tests

[2017-02-21 09:34] #182 closed

[2017-02-21 09:34] gmponos commented on #182
How did you turned it on? When I turn it on at my custom sniff. It works for.

This is how I do it:
[code]

[2017-02-21 09:38] cleptric commented on #182
@gmponos By adding

[code]

As the PSR ruleset.xml sets `ignoreBlankLines` to `true` and `Squiz.WhiteSpace.SuperfluousWhitespace.EmptyLines severity` to 0.

[2017-02-21 09:51] bravo-kernel commented on #182
Awesome job, thanks 👏

[2017-04-21 08:40] dereuromark commented on #175
The same issue came up in https://github.com/spryker/code-sniffer/issues/74 - which also uses our sniffer basically.
I think we should fix it to be consistent with the IDEs and in general the expectation of ordering people have.

@markstory It is actually the other way around, those tools currently seem to reorder it by their expectation, and our sorting right now is the opposite.

[2017-04-21 19:26] markstory commented on #175
@dereuromark As a counter example, vim uses the current ordering :smile:. I'm fine with the ordering changing if more tools do it the 'other' way though.

[2017-04-21 19:32] dereuromark commented on #175
My colleague found an issue [fix](https://github.com/cakephp/cakephp-codesniffer/issues/175)
If enough positive feedback on this subject is given (agree to change), we can start a PR for the CakePHP sniffer, as well.

[2017-05-05 13:00] dakota opened #186 "Upgrade to support CodeSniffer 3.0"
Squizlabs just released [version 3.0](https://github.com/squizlabs/PHP_CodeSniffer/releases/tag/3.0.0) of CodeSniffer. We should upgrade our sniffs as per the [migration guide](https://github.com/squizlabs/PHP_CodeSniffer/wiki/Version-3.0-Upgrade-Guide)

[2017-05-05 13:08] ADmad commented on #186
@antograssiot already has a branch using CS v3 ready https://github.com/cakephp/cakephp-codesniffer/tree/3.0 :smile:

[2017-05-05 13:42] ADmad commented on #186
Closing as PR #187 is open.

[2017-05-05 13:42] #186 closed

[2017-06-29 14:43] flashios09 opened #190 "[question] Why the variable name can be only camel cased ?"
Hi,

I'm using the cakephp codesniffer, sometimes i need to have another case for variable name especially with `compact(...)`, for eg.:
[code]
I want just to know why we can use only the camel cased.

Thanks

[2017-06-29 15:02] lorenzo commented on #190
That's the standard we chose for CakePHP.

As with any styling standard, it is just a matter of personal preferences, or cultural reasons.

Since we want everyone coding for the CakePHP core to use the same coding standard, then we allow only one style.

[2017-06-29 15:02] #190 closed

[2017-06-29 15:05] dereuromark commented on #190
As for your issue: Just use an array directly instead of single vars and you will be fine. Problem solved with probably even less lines of code.

[2017-06-29 15:18] flashios09 commented on #190
@dereuromark i know how to solve it, my question was **why** not **how**.

It's a personal convention, i use the snake case for **table field name** vars, like this i can easily distinguish them.
[code]

[2017-06-29 15:30] lorenzo commented on #190
@flashios09 you are not forced to use this coding standard, though. You can also modify it , so that it allows both types of variables

[2017-06-29 15:34] flashios09 commented on #190
@lorenzo is it possible to have a custom config like with **eslint** or i have to fork this repo ?

[2017-06-29 15:49] markstory commented on #190
You can use a phpcs config file to import the cakephp rules, exclude the ones you don't like and add your own sniffs/rules.

[2017-06-29 18:46] flashios09 commented on #190
@markstory thanks, i created a **phpcs.xml.dist** file at the root of my project and it works

[code]

[2017-07-18 16:06] PhantomWatson opened #192 "DocBlockAlignmentSniff breaks on "function() use (...)""
[DocBlockAlignmentSniff](https://github.com/cakephp/cakephp-codesniffer/blob/master/CakePHP/Sniffs/Commenting/DocBlockAlignmentSniff.php) has the following code:

    $leftWall = [
        T_CLASS,
        T_NAMESPACE,
        T_INTERFACE,
        T_TRAIT,
        T_USE,
    ];

The inclusion of `T_USE`, ostensibly to search for class imports at the top of the file, causes the sniff to _also_ look

[2017-08-03 21:07] #183 closed

[2017-10-09 13:18] dereuromark opened #195 "Include UnusedUseSniff"
Check if either
- https://github.com/slevomat/coding-standard/blob/master/SlevomatCodingStandard/Sniffs/Namespaces/UnusedUsesSniff.php
- https://github.com/spryker/code-sniffer/blob/master/Spryker/Sniffs/Namespaces/UnusedUseStatementSniff.php

do the job and if we can include them

The latter does not remove unused classes if they are in the same namespace.
Not sure if that is a big deal. Other th

[2017-10-09 13:45] ADmad commented on #195
Keeping the "use" statement when class is not actually used in code doesn't seem necessary, regardless of whether it's used in annotations or not.

[2017-10-09 13:48] dereuromark commented on #195
No, you must keep it then, because otherwise the annotation is broken.
Note that I only meant non FQCN annotations :) So in general this shouldnt happen at all.
It is a safe guard. E.g. phinx has this problem all over the code base.

We can also include FQCN sniff of Spryker - then indeed becomes fixed by design, because that way the annotations get always automatically FQCN class names.

[2017-10-09 14:05] saeideng opened #196 "not detect `}finally{`"
[code]
is same for `vendor/bin/phpcs`

[2017-10-09 14:48] dereuromark commented on #196
Can you provide a small sniff rule addition for this?

[2017-10-11 18:40] dereuromark commented on #195
So, either copy and paste, or we reference and composer require the other one (preferred as we will get a lot of other useful ones on top for free then):
[code]
and
[code]

[2017-10-11 18:57] ADmad commented on #195
I think it would be better if we include it as dependency instead of copy pasting.

[2017-10-11 19:34] ADmad commented on #195
`slevomat/coding-standard` requires PHP 7 :(  Not sure if it's okay to have a dev tool require PHP 7 while our code itself is PHP 5.6+.

[2017-10-11 19:48] dereuromark commented on #195
I see, with a few small tweaks we can use the spryker one (only needs unused use of same namespace) on top until we can switch it out for cake 4.x then.

[2017-10-12 11:50] ravage84 commented on #195
@ADmad the [PHP requirement](https://github.com/cakephp/cakephp-codesniffer/blob/master/composer.json#L21) for the codesniffer package is even 5.4, it seems. 😆
I'm going to update it.

I think it's OKish, but still would prefer if we do not force developers to upgrade their local environment, though it would be sensible. 🤔

[2017-10-12 12:03] ADmad commented on #195
While I would love to use Slevomat's sniffs I don't think it's right to bump up the PHP version constraint for codesniffer.

[2017-10-17 11:07] dereuromark opened #198 "Bug: Leading operators in multiline not allowed"
[code]

For
[code]

This is cleaner than
[code]

as it shows the concat operator more clearly and should be allowed IMO

[2017-10-17 15:40] ravage84 commented on #198
I'm OK with both variations but for once I would not enforce one over the other. Thus I vote for just fixing the bug but nothing more.

[2018-04-13 07:29] bancer opened #204 "Function return type is wrongly detected as a constant"
The code:
`public function myFunction(string $date) : void {`

The reported error:
[code]

PHP 7.1.16
CakePHP 2.10.9
CakePHP Code Sniffer 1.5.6

[2018-05-20 14:57] josbeir commented on #175
Also experiencing sort issues in sublime and vscode (haven't tried anything else). Bit frustrating as i mostly use a "sort use on save" function.

Alphabetically sorted by above mentioned editors:
[code]

What the sniff expects:
[code]

[2018-05-20 15:44] ADmad commented on #175
We can/should change this in next major release. The sort order our sniff expects is at odds with most other tools.

[2018-05-21 13:10] josbeir commented on #175
In the meantime... and if you are using vscode, i added a 'natural sorting' option to the namespace resolver extension => https://github.com/MehediDracula/PHP-Namespace-Resolver/pull/29 which does the trick =-)

[2018-05-21 13:27] ADmad commented on #175
@josbeir Sweet

[2018-06-08 06:53] nojimage commented on #204
I got same too.

PHP: 7.1.17
CakePHP Code Sniffer: 3.0.3
Code Sniffer: 3.3.0

[code]

It happened only phpcs >= 3.3.0, in phpcs 3.2.3 not occurred.

[2018-06-08 07:06] dereuromark commented on #204
See https://github.com/squizlabs/PHP_CodeSniffer/issues/2050

[2018-06-08 07:48] nojimage commented on #204
I looked #207, thanks.

[2018-06-08 17:49] markstory commented on #204
I released 1.0.3 for folks using that release series as well.

[2018-06-08 17:49] #204 closed

[2018-06-27 00:06] waspinator opened #210 "vscode support"
Thanks for adding cakephp support to phpcs.

I'm trying to get vscode with the [phpcs plugin](https://marketplace.visualstudio.com/items?itemName=ikappas.phpcs) working with cakephp.

---

Looking at it now, it seems that vscode does understand `.ctp` files and marks them as `.php`, but I was expecting code to reformat to some php or cakephp standard. Is that a thing?

I have `"editor.formatOnSave

[2018-06-27 01:01] markstory commented on #210
Did you setup your default standard as per the documentation for the phpcs plugin in vscode?

(disclaimer: I don't use vscode and won't be much further help on this).

[2018-06-29 13:02] bancer opened #211 "Function `int` return type is wrongly detected as a constant"
[code]
The reported error:
[code]

Related issue: https://github.com/cakephp/cakephp-codesniffer/issues/204.

PHP 7.1.18
CakePHP 2.10.10
Code Sniffer 1.5.6
CakePHP Code Sniffer 1.0.3

[2018-06-29 13:08] dereuromark commented on #211
This might be fixed on the newer version of cakephp code sniffer (2.x or 3.x).

[2018-06-29 13:15] bancer commented on #211
#208 is a pull to 1.x branch.

[2018-06-29 13:19] dereuromark commented on #211
Which is now fixed, as this is exactly what you are using ( CakePHP Code Sniffer 1.0.3 ).

[2018-06-29 13:29] bancer commented on #211
Well, it is not fixed as the error is still reported by the sniffer.

[2018-07-12 11:50] bancer opened #213 "False positive "Code after RETURN statement cannot be executed""
[code]
this code produces invalid warning:
[code]

It seems that `?int` in `_setProperty` method is the cause of the warning in `testMethod`.

PHP 7.1.18
CakePHP 2.10.10
PHP Code Sniffer 1.5.6
CakePHP Code Sniffer 1.0.4

[2018-07-12 11:54] dereuromark commented on #213
Sure this is not coming from the phpcs sniffer package (not our sniffer), as such you should open a ticket there then.

[2018-07-12 12:11] bancer commented on #213
https://github.com/squizlabs/PHP_CodeSniffer/issues/1995

According to this issue they do not support that old version of code sniffer anymore :(.

[2018-07-12 19:46] markstory commented on #213
@bancer Given Greg's response I'm not sure there is much we can do either. I personally have no interest/time in upgrading the 2.x code sniffer rules to work with new phpcs.

[2018-07-12 22:04] bancer commented on #213
Maybe @nojimage will be willing to take a look? He recently fixed two similar issues.

[2018-08-13 14:02] dmromanov opened #214 "Special treating of 'use function', 'use const'"
I have the following code:

[code]

When I check the code with codesniffer I get the following message:
[code]
It expects the code to be:
[code]

Which is kind of unnatural.

I would like to see `use function` and `use const` blocks after classes imports.

[2018-08-13 14:07] dereuromark commented on #214
I wonder what https://github.com/slevomat/coding-standard does in this case.

[2018-11-28 11:15] bancer opened #220 "Abstract function return type is wrongly detected as a constant"
The code:
`abstract protected function _doSomething(string $param) : void;`

The reported error:
[code]

PHP 7.1.24
CakePHP 2.10.13
CakePHP Code Sniffer 1.5.6

Similar issue fixed recently - https://github.com/cakephp/cakephp-codesniffer/issues/204.

[2018-11-28 11:32] bancer commented on #220
I have no idea how to fix that.

[2018-11-28 23:52] avenue19 opened #221 ""Undefined offset" when more than one empty line at end of file"
When a subject file has, say, 3 blank lines at the end, I am getting this error from phpcs:
An error occurred during processing; checking has been aborted. The error message was: Undefined  offset: NNN in ...\vendor\squizlabs\php_codesniffer\src\Files\File.php on line 666

The error disappears when I remove all but one trailing blank line.

phpcbf crashes in this case:
[code]

[2018-11-30 16:04] #221 closed

[2019-01-24 09:31] dereuromark opened #226 "Adding more useful sniffs for "next""
I compared the standard with the Spryker one and want to point out a few missing ones that could be useful before we declare a more stable release here:

- [ ] ~~PEAR.Classes.ClassDeclaration~~
- [ ] ~~PEAR.ControlStructures.ControlSignature~~
- [ ] ~~Zend.Files.ClosingTag~~

- [x] SlevomatCodingStandard.Commenting.DisallowOneLinePropertyDocComment
- [x] SlevomatCodingStandard.Commenting.EmptyComm

[2019-01-24 16:14] ADmad commented on #226
Isn't `PSR2.Classes.ClassDeclaration` which is already used enough?

Checking it's sniff I am not quite sure what it does but I think placements of braces for control structures should already be covered by PSR2 standards.

This sounds too pedantic.

Our custom `FunctionComment` sniff already covers reporting of empty comments/

:+1:

:+1:

:+1:, though would be a chore to remove all existing `lis

[2019-01-24 17:02] dereuromark commented on #226
Well, this is just normalizing it, preventing some IDEs to output the inline ones where they shouldnt

DuplicateAssignmentToVariable helps to prevent bugs by accidentally overwriting variables.
We can test if it affects current code of course.

[2019-02-04 21:29] dereuromark opened #229 "Next: code sniffer issue with stricttypes"
I think the codesniffer should not remove the whitespace between these lines ( https://github.com/cakephp/cakephp/pull/12950/commits/0aeceba35ce7df9e5508e68ea6e5be4c5c8a5c51 ).
They should be OK, or even added if not present IMO.

The license doc block can, but doesnt have to present for this to be in effect.

[2019-02-05 01:22] ADmad commented on #229
The related sniff can be configured to add new line after the "declare" statement but then we would have new line above license docblocks too. Personally I am fine with that.

[2019-02-05 01:36] dereuromark commented on #229
Yeah I am fine with that too.

But maybe the "use statements" should declare a line above instead? And the declare whitespace loosened.
This way the license block is kept this way, but the spacing otherwise might be fine?

[2019-02-22 08:07] #229 closed

[2019-02-22 08:08] ADmad commented on #226
Closing as all seem to be checked off.

[2019-02-22 08:08] #226 closed

[2019-02-22 08:09] #210 closed

[2019-02-22 08:10] ADmad commented on #195
Done for `next` branch using Slevomat's sniff.

[2019-02-22 08:10] #195 closed

[2019-02-22 08:10] ADmad commented on #175
Done for `next` branch.

[2019-02-22 08:10] #175 closed

[2019-02-22 08:12] #131 closed

[2019-02-22 10:01] dereuromark opened #239 "Final proposals for 4.x standard"
I will try to seep through the [Spryker sniffs](https://github.com/spryker/code-sniffer) for highest code quality and check which ones have the highest prio to be included in Cake sniffer.

- Spryker.Classes.MethodArgumentDefaultValue (might be in Slevomatik)
- Spryker.Classes.MethodDeclaration
- Spryker.Classes.MethodTypeHint
- Spryker.Classes.ReturnTypeHint
- Spryker.Commenting.DocBlock
- Spryke

[2019-02-22 10:48] ADmad commented on #239
We should ensure not to go overboard with adding too many sniffs. Having too many could cause a noticeable delay/stutter when using IDE/editor plugins which check for CS errors as you type.

For e.g. checks for docblocks is something we can go easy on.

[2019-02-22 10:50] dereuromark commented on #239
Yeah, it just helps to prevent human errors where they can easily be prevented.
Lets find the most useful and common issue fixers, and then find a good compromise here.

One important thing: Having xdebug disabled makes cs run 4-5x as fast, that will already take out the performance issue basically for most cases.

[2019-04-12 09:12] bancer opened #242 "`::class` construct is wrongly reported as a constant"
In the code:
`$this->getMockBuilder(\Aws\S3\S3Client::class)`

Console output:
` 124 | ERROR | Constants must be uppercase; expected CLASS but found class`

Codesniffer v. 1.0.4

[2019-04-12 09:16] dereuromark commented on #242
I am sure this is fixed in later versions of the repo.

[2019-04-12 09:55] bancer commented on #242
Later versions cannot be used with Cake 2.x.

[2019-05-02 11:56] D4rkMindz opened #246 "UseInAlphabeticalOrder not behaving as expected"
# Bug Report

**Current behavior:**
There are some style conflicts while using the `cakephp/cakephp-codesniffer` library in combination with e.g. [PHPStorm](https://www.jetbrains.com/phpstorm/).
PHPStorm formats all imports in alphabetical order as displayed below. (even tested this with excel, its formatted "the same way").

[code]
_I do not know how it is with e.g. Eclipse or Atom, didn't test i

[2019-05-02 12:06] dereuromark commented on #246
Is that in master?
Please see https://github.com/cakephp/cakephp-codesniffer/issues/175 discussion and if this is already fixed in next branch.

[2019-05-02 12:17] D4rkMindz commented on #246
@dereuromark That is in the master branch and already fixed in the next branch.
Sorry for bothering

[2019-05-02 12:17] #246 closed

[2019-05-02 21:47] dereuromark commented on #242
You can open a PR with the suggested backports.

[2019-05-02 21:54] dereuromark commented on #220
The sniff just needs to see this as a return type hint, and return early if that is the case.
Most likely this is also fixed in the new branch, maybe it can be ported back if you find a bit of time?

[2019-05-02 21:55] dereuromark commented on #97
Now included afaik.

[2019-05-02 21:55] #97 closed

[2019-05-02 21:56] dereuromark commented on #172
Now included afaik.

[2019-05-02 21:56] #172 closed

[2019-05-02 21:56] dereuromark commented on #196
Is this fixed in current next branch maybe?

[2019-05-03 06:19] ADmad commented on #196
Yes the missing space around `finally` are reported by `Squiz.ControlStructures.ControlSignature.SpaceAfterCloseBrace` and `Squiz.ControlStructures.ControlSignature.SpaceAfterKeyword` on `next` branch.

[2019-05-03 06:19] #196 closed

[2019-05-11 14:28] dereuromark commented on #239
We are missing a quite basic sniff for spacing between (interface) methods:
https://github.com/cakephp/cakephp/pull/13223/files#diff-f615e67b9f687da027b935bbf938fd8eR281

[2019-05-12 05:32] ADmad commented on #239
That's strange, I would expect the the sniffs provided by `PSR2` standard to take care of this.

[2019-08-01 10:18] davidyell opened #253 "Update docs to show sniffer versions for framework versions"
I think it would be beneficial to show in the documentation which versions of the sniffer are for which versions of the framework.

Now that the sniffer has 2.x and 3.x releases and 4.x betas, I'm unsure which version is for what framework release.

[2019-08-01 10:28] dereuromark commented on #253
Can you make a PR here?

[2019-08-01 10:58] davidyell commented on #253
Closing in favour of the open pull request.

[2019-08-01 10:58] #253 closed

[2019-09-09 23:14] dereuromark commented on #214
Do we want to use the proper one instead then?

[2019-09-09 23:25] dereuromark commented on #213
Is there sth to be done here? People should be using 3.x of code sniffer by now.

[2019-09-09 23:25] dereuromark commented on #242
Is there sth to be done here? People should be using 3.x of code sniffer by now.

[2019-09-09 23:25] dereuromark commented on #220
Is there sth to be done here? People should be using 3.x of code sniffer by now.

[2019-09-10 01:58] markstory commented on #213
Its been more than a year of this issue being open. I'm going to close it. If folks feel really strongly they can comment here and provide a working patch.

[2019-09-10 01:58] #213 closed

[2019-09-10 01:58] markstory commented on #242
I'm going to close it. If folks feel really strongly they can comment here and provide a working patch.

[2019-09-10 01:58] #242 closed

[2019-09-10 01:58] markstory commented on #220
I'm going to close it. If folks feel really strongly they can comment here and provide a working patch.

[2019-09-10 01:58] #220 closed

[2019-09-10 08:42] dereuromark commented on #239
A recent patch just now added this it seems :) Like a week ago or so.
At least now the spacing issue is resolved now.

[2019-09-10 08:44] ADmad commented on #239
Good to know. Also since PSR12 is now accepted we can expect the `PSR12` ruleset in phpcs to be updated soon to adhere to all it's rules.

[2019-09-28 07:19] ADmad opened #258 "Follow PSR-12 to the T?"
[PSR-12](https://www.php-fig.org/psr/psr-12/) was finalized a while ago and new v3.5 of phpcs has been released with updated ruleset for it, which is included in our `next` ruleset used for Cake 4.

This has caused our core codebase to start generating few errors.

PSR-12 has some silly rules like requiring an empty line after the opening `<?php` tag, etc.

So question is whether we ignore such ru

[2019-10-01 02:00] markstory commented on #258
If there are automatic fixers for rules we can apply those. If there are pedantic rules that are going to create a bunch of manual work I'm less interested in applying those as its just a time sink.

[2019-10-01 06:08] ADmad commented on #258
The only real concern is rule related to ordering of file header blocks. For e.g. PSR12 expect the file level block to be before the `declare()` statement.

The `FileHeader` sniff is currently buggy and doesn't handle auto fixing the ordering to blocks/statements. It hangs hangs on some files. So I have disabled it in #261.

We can revisit it once a new phpcs bugfix release is done.

[2019-10-01 07:48] dereuromark commented on #258
I reported 3 more bugs. They released new sniffs in poor quality.

[2019-11-18 12:14] ADmad commented on #258
We are now following all PSR-12 rules expect those related to ordering of file header blocks (as they can't be fixed automatically) and the one requires a blank line after opening PHP tag.

[2019-11-18 12:14] #258 closed

[2019-11-19 12:01] nojimage opened #268 "Conflict PSR-2 with PSR-12 rules"
I was writing a multi-line if statement like this:

[code]

This was fine for versions prior to 3.1.2.
However, when I updated to cakephp-codesniffer 3.2.0, I got a PSR-12 `PSR12.ControlStructures.ControlStructureSpacing.FirstExpressionLine` error.

So I modified the code as follows:

[code]

However, this time a PSR-2 `PSR2.ControlStructures.ControlStructureSpacing.SpacingAfterOpenBrace` error oc

[2019-11-19 12:51] nojimage commented on #214
I think needs to solve this problem, for PSR-12.

PSR-12: Extended Coding Style - PHP-FIG https://www.php-fig.org/psr/psr-12/#3-declare-statements-namespace-and-import-statements

[2019-11-19 13:06] dereuromark commented on #268
From what I understand PSR-12 replaces PSR-2 where conflicting.
So yeah, the one in 2 can and probably should be disabled then.

[2019-11-20 00:19] dereuromark commented on #268
This is now solved in master.

[2019-11-20 00:19] #268 closed

[2019-11-20 03:45] #214 closed

[2019-12-02 13:56] icex opened #275 "ERROR | Double space found"
Hello,

I think there's a possible bug here:
https://github.com/cakephp/cakephp-codesniffer/blob/a2abf9fd074d49616942b327640bd23ea34bc827/CakePHP/Sniffs/WhiteSpace/TabAndSpaceSniff.php#L62

If my code has 4 whitespaces this will trigger an error..

The Cookbook recommended indentation: https://book.cakephp.org/3/en/contributing/cakephp-coding-conventions.html#indentation

Also PSR-2:
https://book.

[2019-12-02 14:03] markstory commented on #275
Could you give us an example of the code that is triggering the error you think is incorrect?

[2019-12-02 14:09] icex commented on #275
Looks like it doesn't like the way PHPStorm aligns array signs..
[code]
[code]

[2019-12-02 14:13] dereuromark commented on #275
Such alignment is not valid, you must never align code this way.

[2019-12-02 14:23] markstory commented on #275
Closing as the ruleset is working correctly. There is more than one space due to the alignment.

This ruleset flags that as an error because we don't encourage aligning operators as it often increases diff sizes by changing lines that otherwise would be unchanged.

[2019-12-02 14:24] #275 closed

[2019-12-16 07:30] ADmad commented on #239
I think this can be closed. The ruleset we have now is good enough. I have already merged `next` into `master` and it's ready for tagging.

[2019-12-16 08:32] #239 closed

[2020-01-22 22:02] challgren opened #282 "4.0.1 Can't install PHPStan 0.11 or 0.12 due to package conflicts"
So I have a CakePHP 4.0.2 project that has cakephp/cakephp-codesniffer 4.0.1 installed. When trying to run the command `composer require --dev phpstan/phpstan:^0.11` the following errors are outputted

[code]

If I downgrade to `cakephp/cakephp-codesniffer:4.0.0` I have no issues with the `composer require --dev phpstan/phpstan:^0.11` command. I can also use `phpstan/phpstan:^0.12`. So something h

[2020-01-23 02:39] ADmad commented on #282
For phpstan v0.11 use `phpstan/phpstan-shim` repo which provides a no conflict phar.

[2020-01-23 02:39] #282 closed

[2020-03-31 14:17] othercorey commented on #198
You can set ignoreNewlines to true if you have Whitespace.OperatorSpacing enabled.

[2020-03-31 15:17] dereuromark commented on #198
Are we doing that now for our sniffer?

[2020-03-31 15:17] dereuromark commented on #198
Doesnt look like it: https://github.com/cakephp/cakephp-codesniffer/blob/master/CakePHP/ruleset.xml#L125

[2020-03-31 15:18] othercorey commented on #198
That is the LogicalOperatorSpacing. I don't see the regular operator spacing enabled.

[2020-03-31 15:34] dereuromark commented on #198
I am fairly certain this default sniffer ruleset had the issue though with code I commited.

[2020-04-02 17:27] #198 closed

[2020-04-04 15:12] knutztar opened #289 "Uninitialized string offset"
Version: 4.0.1
Running phpcs on one of my files renders the following error:

[code]

Running phpcbf on the same file crashes with output:
[code]

[2020-04-04 17:29] othercorey commented on #289
Do you know which file? Does it have any @throw tags in it?

[2020-04-04 17:50] knutztar commented on #289
Yes, I've found the issue.

[code]

The issue appears only when `@throws \App\Controller\NotFoundException ` with a **whitespace** after NotFoundException and no comment is present. Removing the whitespace manually or entering a comment works as a work around.

[2020-04-05 17:12] #289 closed

[2020-04-07 10:34] swiffer opened #293 "{@inheritDoc} no longer recognized correctly in FunctionCommentSniff.php"
[code]

this is giving a warning:

..\Api\AppController.php
----------------------------------------------------------------------
FOUND 0 ERRORS AND 2 WARNINGS AFFECTING 2 LINES
----------------------------------------------------------------------
 60 | WARNING | Doc comment for parameter "$event" missing
    |         | (CakePHP.Commenting.FunctionComment.MissingParamTag)

worked fine in 4.0.0

[2020-04-07 11:28] ADmad commented on #293
As of v4.1 the `FunctionCommentSniff` has become more strict.

`{@inheritDoc}` is for inheriting docblock comment description only [[1]](https://docs.phpdoc.org/latest/guides/inheritance.html#the-inheritdoc-tag), [[2]](https://github.com/php-fig/fig-standards/blob/master/proposed/phpdoc-tags.md#42-using-the-inheritdoc-inline-tag-to-augment-a-description).

So you need to add annotations for the me

[2020-04-07 11:53] swiffer commented on #293
Okay, good to know, thanks!

[2020-04-07 11:53] #293 closed

[2020-04-07 14:52] othercorey commented on #293
@swiffer You can use just `@inheritDoc` to inherit both comment and tags. Before, all tags were ignored if inheritDoc was anywhere in the comment.

[2020-04-08 22:18] othercorey opened #294 "Allow @throw tags with {@inheritDoc)"
Sometimes a method is overridden just to add new error handling.

We could accept @throw tags if they are the only tag without requiring @param/@return tags.

API docs could check if an {@inheritDoc} block has only @throw tags and merge with the inherited docblock. This should be safe as @throw tags don't conflict with each other.

[2020-04-09 20:18] othercorey opened #295 "Should we allow {@inheritDoc} blocks with no tags?"
The current standard is:

-  `@inheritDoc` for docblocks that inherit everything
- {@inheritDoc} for docblocks that inherit the summary + description

These only count if they are the first line in the docblock.

Do we want to allow variations? This current standard allows us to override parameter types and return types for co-variance and contra-variance support in PHP.

We do not want to try and

[2020-04-11 01:20] markstory commented on #294
Seems like a good idea to me.

[2020-04-11 01:21] markstory commented on #295
We can/should use copy/paste for anything outside the scenarios you outlined. More complex scenarios justify repeating and refining the docs in my opinion.

[2020-04-12 20:44] jmcd73 opened #296 "Cannot install cakephp/cakephp-codesniffer on CakePHP 4.0.5"
bin/cake version
4.0.5

php -v
PHP 7.3.13 (cli) (built: Dec 18 2019 16:08:06) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.3.13, Copyright (c) 1998-2018 Zend Technologies
    with Xdebug v2.9.0, Copyright (c) 2002-2019, by Derick Rethans
    with Zend OPcache v7.3.13, Copyright (c) 1999-2018, by Zend Technologies

# Problem with installation not sure how to resolve this
composer re

[2020-04-13 00:05] othercorey commented on #296
You seem to have other packages required in composer.json that conflict with cakephp-codesniffer.

You don't provide enough information to explain more.

[2020-04-13 00:58] jmcd73 commented on #296
Sorry further detail

Install fresh CakePHP project
[code]

Output of `composer require --dev "cakephp/cakephp-codesniffer"`
[code]

composer.json
[code]

[2020-04-13 02:42] othercorey commented on #296
There is an issue with cakephp-codesniffer downgrading slevomat/coding-standard to < 6.2.0.

composer is rejecting this for some reason.

[2020-04-13 03:12] ADmad commented on #296
composer.json already has `"cakephp/cakephp-codesniffer": "~4.0.0"`. So first remove cakephp/cakephp-codesniffer and then requiring it again.

[2020-04-13 03:13] othercorey commented on #296
I thought composer would support requiring a new version, but it seems it fails to downgrade previous dependencies.

[2020-04-13 03:25] ADmad commented on #296
Yeah sometimes composer gets crazy with dependencies.

[2020-04-13 03:27] othercorey commented on #296
I verified cakephp/app can require cakephp/cakephp-codesniffer 4.1.0 so I'm closing this.

[2020-04-13 03:27] #296 closed

[2020-04-14 02:57] othercorey opened #297 "Unable to find LineLengthSniff.php when running unit tests"
We hit this error several times from internal CS unit tests.

PHP_CodeSniffer\Exceptions\RuntimeException: Referenced sniff "./src/Standards/Generic/Sniffs/Files/LineLengthSniff.php" does not exist in /home/travis/build/cakephp/cakephp-codesniffer/vendor/squizlabs/php_codesniffer/src/Ruleset.php:830

Created an issue on codesniffer in case this isn't fixed as there hasn't been a bug-fix release in

[2020-04-15 10:02] #297 closed

[2020-04-16 11:55] othercorey commented on #295
Sounds good for now.

[2020-04-16 11:55] #295 closed

[2020-04-20 06:36] #294 closed

[2020-05-27 11:31] bancer opened #311 "False positive in CakePHP.Commenting.FunctionComment.InvalidReturn"
In a function doc block:
[code]

Reported:
[code]
The string expected by the sniff seems to be invalid: "(int|string)[]|string)[][]". There is one opening brace but two closing.

[2020-05-29 16:17] othercorey commented on #311
Which version of cakephp-cs are you using?

[2020-06-02 06:51] bancer commented on #311
The latest version according to the composer.json: `"cakephp/cakephp-codesniffer": "^4.0.0",`.

[2020-06-09 08:38] bancer opened #312 "Do not allow to use underscore prefixes"
[code]
https://github.com/cakephp/cakephp-codesniffer/blob/master/CakePHP/ruleset.xml#L34-L37

But PSR-12 that is used by above mentioned ruleset.xml states:

https://www.php-fig.org/psr/psr-12/#44-methods-and-functions

So, it is not a recommendation but a requirement in PSR-12.

[2020-06-09 08:52] ADmad commented on #312
We have ignored PSR-12 rules which don't suite us. There are still lot of protected methods/props which use underscore prefix and 4.0 release before PSR-12 was finalized.

[2020-06-09 08:52] #312 closed

[2020-06-12 09:55] lrnzfrr opened #313 "Error SlevoodingStandard.Arrays.TrailingAmatCrrayComma"
I've been installed the standard in phpcs but if i try :
phpcs --standard=CakePHP src/Controller
i get
ERROR: Referenced sniff "SlevoodingStandard.Arrays.TrailingAmatCrrayComma" does not exist

[2020-06-12 10:01] garas commented on #313
Your install is somehow broken. Rule name should be `SlevomatCodingStandard.Arrays.TrailingArrayComma`.

https://github.com/cakephp/cakephp-codesniffer/blob/4.2.0/CakePHP/ruleset.xml#L132

[2020-06-12 10:06] dereuromark commented on #313
Also, if you install it through composer, it will make sure the required dependencies will be installed just fine: https://github.com/cakephp/cakephp-codesniffer/blob/4.2.0/composer.json#L22

[2020-06-12 10:10] lrnzfrr commented on #313
sorry my digit error:
ERROR: Referenced sniff "SlevomatCodingStandard.Arrays.TrailingArrayComma"  does not exist

[2020-06-12 10:15] lrnzfrr commented on #313
yes i used composer.

[2020-06-12 10:29] dereuromark commented on #313
What version of slevomat/coding-standard was installed?

[2020-06-12 10:37] lrnzfrr commented on #313
if i launch composer inside cakephp-codesniffer :
slevomat/coding-standard (6.3.8): Loading from cache

[2020-06-12 10:46] dereuromark commented on #313
No, inside your project. It requires to be there inside your projects vendor folder directly.

[2020-06-12 14:47] lrnzfrr commented on #313
ok if i use phpcs inside project with installed paths everthing works!:
vendor/bin/phpcs ....
But my idea was setup cakephp standard in /usr/bin/phpcs

[2020-06-12 14:52] dereuromark commented on #313
Then you need some additional config on your side. But this is then only a documentation issue here.
We might want to add some tips here.

[2020-06-12 16:22] lrnzfrr commented on #313
thanks!

[2020-06-12 16:22] #313 closed

[2020-06-24 13:23] bancer opened #314 "Add an empty line between opening tag and declare"
According to PSR-12:

https://www.php-fig.org/psr/psr-12/

And an example from there:
[code]

I suggest to change `<property name="newlinesCountBetweenOpenTagAndDeclare" value="1" />` to `<property name="newlinesCountBetweenOpenTagAndDeclare" value="2" />` in order to enforce an empty line to be present after PHP opening tag.

[2020-06-24 13:26] dereuromark commented on #314
We deliberately didn't put that extra whitespace in, as we feel like this is just too much noise for nothing.
I would even like to have it on the same line
[code]
As everything else is noise and not very useful for devs.

Overall we tried to be as close to it as possible given all pros and cons.

[2020-06-24 15:07] ADmad commented on #314
You can just override the rules as per your liking through `phpcs.xml` file in your app root.

[2020-06-24 15:07] #314 closed

[2020-07-20 16:16] #311 closed

[2021-04-14 11:49] dereuromark opened #323 "Allow for new major Slevomat v7"
https://github.com/cakephp/cakephp-codesniffer/blob/master/composer.json#L22

See https://github.com/slevomat/coding-standard/releases

[2021-04-23 20:14] #323 closed

[2021-07-13 08:54] mcube27 opened #337 "PhpStorm"
We are a team using PHPStorm.

We'd like to be able to reformat using cakephp-codesniffer on save. For now, we use the reformat file on save, but it does not match the cakephp ruleset.

Is there a way to make all of this in a config file ? Or do you know where to configure phpStorm to save using cakephp-codesniffer style set ?

Thnaks a lot

[2021-07-18 02:57] othercorey commented on #337
Sorry, not familiar with phpstorm and phpcs.

[2021-07-18 05:38] #337 closed

[2021-08-30 06:42] othercorey opened #343 "5.0: Require static return type hint for chaining methods"
Methods that have a `@return $this` should have a `static` return type  hint.

[2021-09-21 23:24] dereuromark commented on #343
We can revisit then for the next major.

[2021-09-21 23:24] #343 closed

[2021-10-28 15:09] dereuromark opened #347 "Collection generics"
The new TypeHint sniff also "fixes" the following case:

[code]
To
[code]
as per
[code]

That has two problems:
- PHPStan: `PHPDoc tag @param for parameter $entities with type
         array<DateTimeImmutable>|Test\Collection is not subtype of native type Test\Collection.` and `has parameter $entities with no value type specified in iterable type Test\Collection` It does however not complain with

[2021-12-20 14:12] dereuromark opened #351 "Union type render fails in some cases"
Current:
[code]

This sometimes adds opening braces after comma, e.g.
[code]
contains`, (string|null>` etc.

This seems to fix it:
[code]

Full example: https://github.com/spryker/code-sniffer/commit/c42ec45b9b33ed49a2e4955c7d7320356350b74e#diff-aeb63d49268696687137616324b7e71483fef95ebac1cbaccaa75f7f966c4885R90

[2021-12-21 05:11] #351 closed

[2022-05-21 10:05] dereuromark commented on #347
I resolved this by fixing all cases to generics manually first before applying the Code sniffer
This way any issues are resolved indirectly.

[2022-05-21 10:43] #347 closed

[2022-06-14 13:24] Erwane opened #361 "Union type require spaces ?"
Tested with 4.5 and 5.x-dev on cakephp4.4 project with php8.1

![image](https://user-images.githubusercontent.com/712604/173588066-48dc2ff2-b04e-4905-89a8-26b2ed310b7e.png)

[2022-06-14 13:38] dereuromark commented on #361
I am sure the sniffer hasnt been adjusted for new php 8 stuff
Maybe you can make a PR to provide those?

Otherwise please use verbose mode and also output here the sniffs that cause this
So we can look into fixing those from our side.

[2022-06-15 06:11] Erwane commented on #361
I don't understand :/

[code]
command line don't report the error but phpcs in phpstorm yes :/

[2022-06-15 06:20] Erwane commented on #361
My bad :/
My phpstorm phpcs inspection was set to `Custom` and point to a file outside of project.
Sorry.

[2022-06-15 06:20] #361 closed